body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cyan {
    background-color: lightseagreen;
}

#griglia {
    width: 80vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 50px;
    cursor: pointer;
}

.cell {
    width: 10%;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

#griglia .cell.clicked {
    background-color: aqua;
    cursor: not-allowed;
}

